body {
    background-color: #F5F5F7 !important;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-size: 50px !important;
    color: #6E6E73 !important;
}

h2 {
    font-size: 30px !important;
    color: #6E6E73 !important;
}

h5 {
    font-size: 30px !important;
}

.black-sans-serif {
    color: black;
    font-weight: 500;
}

.navbar-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    display: inline-block;
    margin: 0 15px;
    font-size: 10px;
    font-weight: lighter;
}

.header-section {
    margin: 60px 0px !important;
}

.title-help-link {
    letter-spacing: .05em;
}

.gallery-img {
    width: 125px;
    margin-bottom: 10px;
}

.gallery-listing {
    margin: 0 20px !important;
}

.card-subtitle {
    font-size: 18px;
    font-weight: bold;
}

.product-card-black-bg {
    color: white !important;
    /* background-color: black !important; */
}

.product-card-white-bg {
    color: black;
    /* background-color: white !important; */
}

.custom-tooltip {
    --bs-tooltip-bg: black;
    --bs-tooltip-color: var(--bs-white);
}

#apple-logo {
    display: flex;
    justify-content: flex-end;
}

#product-category-gallery {
    display: flex;
    justify-content: center;
}

#hero-text {
    max-width: 600px !important;
}


