body {
    background-color: #F5F5F7 !important;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-size: 50px !important;
    color: #6E6E73 !important;
}

h2 {
    font-size: 30px !important;
    color: #6E6E73 !important;
}

h5 {
    font-size: 30px !important;
}

form {
    display: inline-block;
    padding: 30px;
}

table {
    width: 75%;
}

.black-sans-serif {
    color: black;
    font-weight: 500;
}

.navbar-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    display: inline-block;
    margin: 0 15px;
    font-size: 10px;
    font-weight: lighter;
}

.lg-screen-content {
    display: none;
}

.header-spacer {
    display: none;
}

.header-section {
    margin: 60px 0px !important;
}

.title-help-link {
    letter-spacing: .05em;
}

.gallery-img {
    width: 125px;
    margin-bottom: 10px;
}

.gallery-listing {
    margin: 0 20px !important;
}

.card-subtitle {
    font-size: 18px;
    font-weight: bold;
}

.product-card-black-bg img,
.product-card-white-bg img {
    height: 450px;
}

.product-card-black-bg {
    background-color: black !important;
    color: white !important;
}

.product-card-white-bg {
    background-color: white;
    color: black;
}

.custom-tooltip {
    --bs-tooltip-bg: black;
    --bs-tooltip-color: var(--bs-white);
}

#apple-logo {
    display: flex;
    justify-content: flex-end;
}

#nav-icons {
    display: none;
}

#product-category-gallery {
    display: flex;
    justify-content: center;
}

#hero-text {
    max-width: 600px;
}

#shop-support-form,
#help-support-form {
    display: none;
}

/* CSS Styling for iPad */
@media screen and (min-width: 768px) {
    #hero-text {
        max-width: 100% !important;
    }
    .support-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .support-card-container img {
        height: 400px !important;
    }
    
    .support-spacer {
        display: none;
    }

    .nav-link-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #nav-icons {
        display: none;
    }
}

/* Styling Adjustments for Laptops and larger screens - 1068px */
@media screen and (min-width: 1068px) {
    .lg-screen-content {
        display: flex;
        flex-direction: column;
    }

    .header-spacer {
        display: inline;
    }

    #hero-text {
        max-width: 60% !important;
    }

    #nav-icons {
        display: block;
    }
}
